#barra{
  height: 50px;
  margin-bottom: 60px;
  padding: 0;
  background-color: black;
  z-index: inherit;
  opacity: 0.5;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body{
  color: white;
}

img{
  margin: 5px 20px 5px 20px;
  height: 40px;
  width: auto;
  padding: 0;
}

.imgs{
  height: auto;
  width: 175px;
  border-radius: 5px;
  background-color: pink;
  float: left;
  display: inline;
  position:  static;
}

.imgs_2{
  height: 700px;
  width: 175px;
  border-radius: 5px;
  background-color: pink;
  float: left;
  margin-right: 100px;
}

.vistos{
  float: left;
  margin: 0;
  padding: 0;
}

#info_esquerra{
  margin: -35px 5px 0px 150px;
}

#info_dreta{
  margin: -20px 650px;
  float: right;
}


h1{
  font-family: Helvetica, Sans-serif;
  margin-left: 10px;
  width: 5000px;
  float:  inherit;
}
