/* Versió Escriptori */

      @media only screen and (min-width: 960px) {

body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
  font-family: "LucidaGrande" ,Thaoma, Seoge UI, San Francisco, Roboto;
}

#barra{
  height: 43px;
  background-color: #5066ae;
  z-index: 800000000000000000000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#principal li{
  list-style-type: none;
  overflow: visible;
}


#contingut {
overflow: visible;
  width: 852px;
  margin: 0 auto;
}

#contingut #cap{
  height: 358px;
  width: 100%;
  background-image: url(../img/herba.png);
  background-repeat: no-repeat;
  border-radius: 3px solid #DDD;
}

#contingut #cap img{
  position: relative;
  top: 170px;
  left: 16px;
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 2px 2px 2px #333;
}

  #contingut #cap h3{
  margin: 0;
  padding: 0;
  position: relative;
  top: 70px;
  left: 200px;
  color: white;
  text-shadow: 2px 2px 2px #333;
  }

  #contingut #cap  h3{
  margin: 0;
  padding: 0;
  position: relative;
  top: 70px;
  left: 225px;
  color: white;
  text-shadow: 2px 2px 2px #333;
  }

  #contingut #menu {
  height: 43px;
  width: 630px;
  float: right;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 97px;
  line-height: 43px;
  }

  h3{
    text-indent: 24px;
  }

  li{
  float: left;
  list-style: none;
  background-color: white;
  display: block;
  padding: 0 25px;
  margin: 0 0 0 1px;
  }

  aside{
    width: 322px;
    float: left;
    clear: left;
  }

  #seccions{
  overflow: hidden;
  }

.dreta{

  width: 492px;
  float: right;
  clear: right;
}

.esquerra{
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;
  overflow: hidden;
  padding:  12px;
  font-size: 12px;
}

.dreta{
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;
  overflow:  visible;
  font-size: 12px;
}

.esquerra li, .dreta li{
  list-style-type: none;
}

.esquerra, .dreta{
  overflow: hidden;
  font-size: 12px;
  background-color: white;
  border: solid 1px #DDD;
}

.esquerra h3{
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 0px;
  text-indent: 26px;
  height: 24px;
}

#amistats h3 {
  background-position: 0px;

}
#amistats ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#amistats li{
  width: 31.95%;
  height: 100px;
  float: left;
  margin: 2px;
  padding: 0;
  background-size: cover;
}

#fotos ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#fotos li{
  width: 31.95%;
  height: 100px;
  float: left;
  margin: 2px;
  padding: 0;
  background-size: cover;
}

#AC{
  background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
}
#MM {
  background-image: url(https://mmunozp2019crn.github.io/M08/s2m8uf104_munoz/img/logo.jpg);
}
#PS {
  background-image: url(https://psanz2019crn.github.io/M08/s2m8uf104_sanz/img/aoperfil.gif);
}
#SM {
  background-image: url(https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg);
}
#AG {
  background-image: url(https://agarcia2019crn.github.io/M08/s2m8uf104_garciaa/img/perfil.jpg);
}
#GM {
  background-image: url(https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg);
}
#SP {
  background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
}
#VH {
  background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
}
#OP {
  background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
}

#amistats h3 {
  background-position: 0 -48px;
}

#fotos h3 {
  background-position: 0 -24px;
}

#suprise h3 {
  background-position: 0 -72px;
}


#presentacio p{
  box-shadow: 0 1px 0 #DDD;
  padding-bottom: 10px;
}

#amistats a:link{
  color: white;
  text-decoration: none;
}

#amistats a:visited{
  color: white;
  text-decoration: none;
}

.estudis{
  list-style-image: url(../iconetes/icones_feina.png);
}

#crear{
  padding: 12px;
  position: relative;
  margin-bottom: -60px;
  margin-top: 0px;
  left: -12px;
  height: 38px;
  width: 516px;
}


#crear li{
  list-style: none;
  float: left;
  height: 38px;
  margin: 0 0 0 1px;
  padding: 0 10px;
  font-size: 8pt;
  line-height: 48px;
}

#estat{
  padding: 0 12px;
  height: 100;

}

#pensament{
  clear: left;
  display: block;
  padding-left: 12px;
  padding-bottom: 30px;
  left: -12px;
  width: 516px;
  font-size: 1.5em;
  margin-left: 60px;
  border: 0;
}

#miniperfil{
  display: block;
  clear: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 66px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  left: -20px;
  float: left;
  margin-bottom: 15px
}



#botonera_estat{
height: 38px;
width: 516px;
line-height: 38px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 0;
margin: 0;
overflow: hidden;
list-style: none;
left:-12px;
position: relative;
background-color: #f5f5f7;
}

#botonera_estat li{
border-radius: 4em;
margin:0 5px 0 12px;
height: 38px;
width: auto;

}

#estat_fotovideo{
  background-image: url(../img/btn2.jpg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
}

#estat_etiquetar{
  background-image: url(../img/btn1.jpg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
  top:30px;
}


#estat_sentiment{
  background-image: url(../img/btn3.jpg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
}

#botonera_estat li:hover{
  opacity: 0.5;
}

#publica{
}

.entrada{
}

.entrada h4{
  height: 40px;
}

.entrada h4 span{
  color: blue;
}

.entrada h5{
color: grey;
}

.entrada p{
}

.entrada h6{
  text-indent: 20px;
  background-image: url(../img/like.jpg)
  border bottom: 1px solid grey;
}

.entrada ul{
width: 100%;
height: 40px;
overflow: hidden;
padding: 0 12px;
}

.entrada ul li{
display: list-item;
list-style-image: url(../img/like_icona.jpg);
float: left;
font-size: 15px;
font-weight: bold;
margin-left: 30px;

}

.entrada input {
  display: block;
  clear: both;
  background-color: #e9ebed;
  border: 1px solid grey;
  border-radius: 24px;
  line-height: 2em;
  font-size: 1.3em;
  margin-left: 60px;
  width: 87%;
  padding: 8px;
}

#agrada{

}

#comenta{
  list-style-image: url(../img/coment_icona.jpg);}

#comparteix{
  list-style-image: url(../img/compartir_icona.jpg);}

#mes{
  list-style-image: none;}

}


/* Versió Mòbil */

      @media screen and (max-width: 960px) {

body{
margin: 0;
padding: 0;
background-color: #f5f5f7;
font-family: Helvetica;
}

#principal {
margin-top:262px;
}

#principal  li{
list-style-type: none;

}

#contingut {

}

#contingut #cap{
height: 254px;
background-image: url(../img/herba.png);
background-repeat: no-repeat;
background-size: 100% auto;
text-align: center;
}

#contingut #cap img{
width: 162px;


height: 162px;
border-radius: 50%;
border: solid white 3px;
text-align: center;
margin-top: 173px;
}

#contingut #cap h3{
  font-size: 28px;
  font-weight: 200;
}

#contingut #menu {
  visibility: hidden;
}

.estudis{
  list-style-image: url(../iconetes/icones_feina.png);
}
.domicili{
  list-style-image: url(../iconetes/icones_domicili.png);
}
.neixement{
  list-style-image: url(../iconetes/icones_ubicacio.png);
}

h3{
}



aside{

}

#seccions{
}

.dreta{

}

.esquerra{

}

.dreta{

}

.esquerra li, .dreta li{
}

.esquerra, .dreta{

}

.esquerra h3{

}

#amistats h3 {

}

#amistats ul{

}

#amistats li{

}

#fotos ul{

}

#fotos li{

}

#AC{
background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
}
#MM {
background-image: url(https://mmunozp2019crn.github.io/M08/s2m8uf104_munoz/img/logo.jpg);
}
#PS {
background-image: url(https://psanz2019crn.github.io/M08/s2m8uf104_sanz/img/aoperfil.gif);
}
#SM {
background-image: url(https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg);
}
#AG {
background-image: url(https://agarcia2019crn.github.io/M08/s2m8uf104_garciaa/img/perfil.jpg);
}
#GM {
background-image: url(https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg);
}
#SP {
background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
}
#VH {
background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
}
#OP {
background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
}

#amistats h3 {
}

#fotos h3 {

}

#suprise h3 {
}


#presentacio li{
list-style-type: none;
width: 60%;
font-size: 15px;
margin: 0 auto;
color: grey;
}

#amistats a:link{

}

#amistats a:visited{

}

.estudis{
list-style-image: url(../iconetes/icones_feina.png);
}

#crear{

}


#crear li{

}

#estat{

}

#pensament{

}

#miniperfil{

}



#botonera_estat{

}

#botonera_estat li{

}

#estat_fotovideo{

}

#estat_etiquetar{

}


#estat_sentiment{

}

#botonera_estat li:hover{
}

#publica{
}

.entrada{
}

.entrada h4{
height: 40px;
}

.entrada h4 span{
color: blue;
}

.entrada h5{
color: grey;
}

.entrada p{
}

.entrada h6{
text-indent: 20px;
background-image: url(../img/like.jpg)
border bottom: 1px solid grey;
}

.entrada ul{

}

.entrada ul li{
list-style-image: url(../img/like_icona.jpg);

}

.entrada input {

}

#agrada{

}

#comenta{
list-style-image: url(../img/coment_icona.jpg);}

#comparteix{
list-style-image: url(../img/compartir_icona.jpg);}

#mes{
list-style-image: none;}


      }
